@import '../styles/theme';

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.toolbar-spacer {
  padding-top: 56px;
}

.flex-spacer {
  flex-grow: 1;
}

.dropdown-icon {
  position: relative;
  top: 5px;
}

#search {
  left: 0;
  right: 0;
  top: -100px;
  z-index: 11;
  width: 100%;
  height: 100%;
  color: #000000;
  will-change: top;
  overflow: hidden;
  position: absolute;
  background: #ffffff;
  transition: top .25s ease-in-out;
  &.opened {
    top: 0px;
  }
  .back {
    top: -4px;
    margin: 0 .5rem;
    position: relative;
  }
  input {
    height: 100%;
    border: none;
    box-shadow: none;
    font-size: 1.25rem;
    position: relative;
    width: calc(100% - 7rem);
    &:focus {
      outline-width: 0;
    }
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #cacaca;
      font-weight: 300;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #cacaca;
      font-weight: 300;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #cacaca;
      font-weight: 300;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #cacaca;
      font-weight: 300;
    }
    @media (max-width: 600px) {
      top: 1px;
    }
  }
}