mat-progress-spinner {
  margin: 50px auto;
  width: 50px;
}

.torrent-img {
  width: 200px;
}

#torrent-card {
  margin: 16px;
  margin-top: 32px;
}

iframe {
  margin: 25px;
  height: 600px;
  width: calc(100% - 50px);
}