@import './styles/normalize';
@import './styles/theme';

/* You can add global styles to this file, and also import other style files */

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  // user-drag: none;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
