<mat-progress-spinner [color]="spinner.$color" [mode]="spinner.$mode" *ngIf="spinner.$loading">
</mat-progress-spinner>

<div id="movie" class="row" *ngIf="movie.id">
  <mat-card class="movie-card">
    <div class="cover">
      <img mat-card-image [src]="movie.poster_med" [alt]="movie.title" class="z1 materialboxed">
      <img mat-card-image [src]="movie.poster_big" [alt]="movie.title" class="z2 materialboxed">
      <a class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">play_arrow</i>
      </a>
    </div>
    <mat-card-content class="content">
      <p>
        {{movie.title}}
        <span>({{movie.year}})</span>
      </p>
      <p [innerHtml]="movie.description"></p>
      <p>Rating: {{movie.rating}}</p>
    </mat-card-content>
    <mat-card-actions>
      <a [href]="item.torrent_url" *ngFor="let item of movie.items" target="_blank">
        <button mat-button>
          <span>Seeds: {{item.torrent_seeds}}</span>
          <br />
          <span>Peers: {{item.torrent_peers}}</span>
          <br />
          <span>Size: {{getItemSize(item.size_bytes)}} GB</span>
          <br />
          <span>Quality: {{item.quality}}</span>
          <br />
        </button>
      </a>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <iframe [src]="sanitizeResourceUrl(trailer)"></iframe> -->